# Fix SNPID / Extract CHR, POS, NEA, EA from SNPID

In [1]:
import gwaslab as gl

In [2]:
gl.show_version()

2024/12/20 13:39:15 GWASLab v3.5.4 https://cloufield.github.io/gwaslab/
2024/12/20 13:39:15 (C) 2022-2024, Yunye He, Kamatani Lab, MIT License, gwaslab@gmail.com

## load sample data

In [3]:
mysumstats = gl.Sumstats("../0_sample_data/toy_data/fixid.tsv",fmt="gwaslab")

2024/12/20 13:39:16 GWASLab v3.5.4 https://cloufield.github.io/gwaslab/
2024/12/20 13:39:16 (C) 2022-2024, Yunye He, Kamatani Lab, MIT License, gwaslab@gmail.com
2024/12/20 13:39:16 Start to load format from formatbook....
2024/12/20 13:39:16  -gwaslab format meta info:
2024/12/20 13:39:16   - format_name  : gwaslab
2024/12/20 13:39:16   - format_source  : https://cloufield.github.io/gwaslab/
2024/12/20 13:39:16   - format_version  : 20231220_v4
2024/12/20 13:39:16 Start to initialize gl.Sumstats from file :../0_sample_data/toy_data/fixid.tsv
2024/12/20 13:39:16  -Reading columns          : SNPID
2024/12/20 13:39:16  -Renaming columns to      : SNPID
2024/12/20 13:39:16  -Current Dataframe shape : 19  x  1
2024/12/20 13:39:16  -Initiating a status column: STATUS ...
2024/12/20 13:39:16  #WARNING! Version of genomic coordinates is unknown...
2024/12/20 13:39:16 Start to reorder the columns...v3.5.4
2024/12/20 13:39:16  -Current Dataframe shape : 19 x 2 ; Memory usage: 21.47 MB
2024/12/20 13:39:16  -Reordering columns to    : SNPID,STATUS
2024/12/20 13:39:16 Finished reordering the columns.
2024/12/20 13:39:16  -Column  : SNPID  STATUS
2024/12/20 13:39:16  -DType   : object category
2024/12/20 13:39:16  -Verified: T      T
2024/12/20 13:39:16  -Current Dataframe memory usage: 21.47 MB
2024/12/20 13:39:16 Finished loading data successfully!

In [4]:
mysumstats.data

                    SNPID   STATUS
0           1:1066403:T:C  9999999
1           1:1163266:G:A  9999999
2           1:1213224:T:A  9999999
3        Chr1:3066761:A:T  9999999
4       1:3997271:T:TTTTA  9999999
5   1:3997271:<CN0>:<CN1>  9999999
6       CHR1:4007705:TC:T  9999999
7       1:5164281:A:AAGAG  9999999
8        1:12799025:C:CCT  9999999
9       chr1:19323015:T:A  9999999
10         1:22841855:A:T  9999999
11    3:183629306:T:TTCTC  9999999
12         4:99731866:G:C  9999999
13         8:89935201:C:G  9999999
14          X:4206466:G:C  9999999
15          X:5053229:A:T  9999999
16          Y:5053229:A:T  9999999
17       chrX:5053229:A:T  9999999
18     6_ALT:99731866:G:C  9999999

## Remove chr prefix and extract chr, pos, nea, ea from SNPID

In [5]:
mysumstats.fix_id(fixchrpos=True, 
                  fixeanea =True, 
                  fixprefix=True)

2024/12/20 13:39:16 Start to check SNPID/rsID...v3.5.4
2024/12/20 13:39:16  -Current Dataframe shape : 19 x 2 ; Memory usage: 21.47 MB
2024/12/20 13:39:16  -Checking SNPID data type...
2024/12/20 13:39:16  -Converting SNPID to pd.string data type...
2024/12/20 13:39:16  -Checking if SNPID is CHR:POS:NEA:EA...(separator: - ,: , _)
2024/12/20 13:39:18  -Fixing CHR and POS...
2024/12/20 13:39:18  -Initiating CHR and POS columns...
2024/12/20 13:39:18  -Number of variants could be fixed: 18 ...
2024/12/20 13:39:18  -Filling CHR and POS columns using valid SNPID's chr:pos...
2024/12/20 13:39:18  #WARNING! gwaslab assumes SNPID is in the format of CHR:POS:NEA:EA / CHR:POS:REF:ALT
2024/12/20 13:39:18  -Initiating EA and NEA columns...
2024/12/20 13:39:18  -Number of variants could be fixed: 18 ...
2024/12/20 13:39:18  -Filling 18 EA and NEA columns using SNPID's CHR:POS:NEA:EA...
2024/12/20 13:39:18  -Chr:pos:a1:a2...a1->EA , a2->NEA
2024/12/20 13:39:18  -Removing /^chr/ in SNPID ...
2024/12/20 13:39:18 Finished checking SNPID/rsID.

In [6]:
mysumstats.data

                    SNPID   STATUS    CHR        POS   NEA     EA
0           1:1066403:T:C  9969999      1    1066403     T      C
1           1:1163266:G:A  9969999      1    1163266     G      A
2           1:1213224:T:A  9969999      1    1213224     T      A
3           1:3066761:A:T  9969999      1    3066761     A      T
4       1:3997271:T:TTTTA  9969999      1    3997271     T  TTTTA
5   1:3997271:<CN0>:<CN1>  9989999   <NA>       <NA>  <NA>   <NA>
6          1:4007705:TC:T  9969999      1    4007705    TC      T
7       1:5164281:A:AAGAG  9969999      1    5164281     A  AAGAG
8        1:12799025:C:CCT  9969999      1   12799025     C    CCT
9          1:19323015:T:A  9969999      1   19323015     T      A
10         1:22841855:A:T  9969999      1   22841855     A      T
11    3:183629306:T:TTCTC  9969999      3  183629306     T  TTCTC
12         4:99731866:G:C  9969999      4   99731866     G      C
13         8:89935201:C:G  9969999      8   89935201     C      G
14          X:4206466:G:C  9969999      X    4206466     G      C
15          X:5053229:A:T  9969999      X    5053229     A      T
16          Y:5053229:A:T  9969999      Y    5053229     A      T
17          X:5053229:A:T  9969999      X    5053229     A      T
18     6_ALT:99731866:G:C  9969999  6_ALT   99731866     G      C

## run basic_check to clean the data

In [7]:
mysumstats.basic_check(remove=True)

2024/12/20 13:39:18 Start to check SNPID/rsID...v3.5.4
2024/12/20 13:39:18  -Current Dataframe shape : 19 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:18  -Checking SNPID data type...
2024/12/20 13:39:18  -Checking if SNPID is CHR:POS:NEA:EA...(separator: - ,: , _)
2024/12/20 13:39:20 Finished checking SNPID/rsID.
2024/12/20 13:39:20 Start to fix chromosome notation (CHR)...v3.5.4
2024/12/20 13:39:20  -Current Dataframe shape : 19 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:20  -Checking CHR data type...
2024/12/20 13:39:20  -Variants with standardized chromosome notation: 13
2024/12/20 13:39:20  -Variants with fixable chromosome notations: 4
2024/12/20 13:39:20  -Variants with NA chromosome notations: 1
2024/12/20 13:39:20  -Variants with invalid chromosome notations: 1
2024/12/20 13:39:20  -A look at invalid chromosome notations: {'6_ALT'}
2024/12/20 13:39:20  -Identifying non-autosomal chromosomes : X, Y, and MT ...
2024/12/20 13:39:20  -Identified  4  variants on sex chromosomes...
2024/12/20 13:39:20  -Standardizing sex chromosome notations: X to 23...
2024/12/20 13:39:20  -Standardizing sex chromosome notations: Y to 24...
2024/12/20 13:39:22  -Valid CHR list: 1 - 25
2024/12/20 13:39:22  -Removed 2 variants with chromosome notations not in CHR list.
2024/12/20 13:39:22  -A look at chromosome notations not in CHR list: {<NA>}
2024/12/20 13:39:22 Finished fixing chromosome notation (CHR).
2024/12/20 13:39:22 Start to fix basepair positions (POS)...v3.5.4
2024/12/20 13:39:22  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:22  -Converting to Int64 data type ...
2024/12/20 13:39:24  -Position bound:(0 , 250,000,000)
2024/12/20 13:39:24  -Removed outliers: 0
2024/12/20 13:39:24  -Removed 0 variants with bad positions.
2024/12/20 13:39:24 Finished fixing basepair positions (POS).
2024/12/20 13:39:24 Start to fix alleles (EA and NEA)...v3.5.4
2024/12/20 13:39:24  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:24  -Converted all bases to string datatype and UPPERCASE.
2024/12/20 13:39:24  -Variants with bad EA  : 0
2024/12/20 13:39:24  -Variants with bad NEA : 0
2024/12/20 13:39:24  -Variants with NA for EA or NEA: 0
2024/12/20 13:39:24  -Variants with same EA and NEA: 0
2024/12/20 13:39:24  -Removed 0 variants with NA alleles or alleles that contain bases other than A/C/T/G.
2024/12/20 13:39:24  -Removed 0 variants with same allele for EA and NEA.
2024/12/20 13:39:26 Finished fixing alleles (EA and NEA).
2024/12/20 13:39:26 Start to perform sanity check for statistics...v3.5.4
2024/12/20 13:39:26  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:26  -Comparison tolerance for floats: 1e-07
2024/12/20 13:39:26  -Checking STATUS and converting STATUS to categories....
2024/12/20 13:39:27  -Removed 0 variants with bad statistics in total.
2024/12/20 13:39:27  -Data types for each column:
2024/12/20 13:39:27  -Column  : SNPID  STATUS   CHR   POS   NEA      EA
2024/12/20 13:39:27  -DType   : string category Int64 Int64 category category
2024/12/20 13:39:27  -Verified: T      T        T     T     T        T
2024/12/20 13:39:27 Finished sanity check for statistics.
2024/12/20 13:39:27 Start to check data consistency across columns...v3.5.4
2024/12/20 13:39:27  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:27  -Tolerance: 0.001 (Relative) and 0.001 (Absolute)
2024/12/20 13:39:27  -No availalbe columns for data consistency checking...Skipping...
2024/12/20 13:39:27 Finished checking data consistency across columns.
2024/12/20 13:39:27 Start to normalize indels...v3.5.4
2024/12/20 13:39:27  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:27  -No available variants to normalize..
2024/12/20 13:39:27 Finished normalizing variants successfully!
2024/12/20 13:39:27 Start to sort the genome coordinates...v3.5.4
2024/12/20 13:39:27  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:27 Finished sorting coordinates.
2024/12/20 13:39:27 Start to reorder the columns...v3.5.4
2024/12/20 13:39:27  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:27  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,STATUS
2024/12/20 13:39:27 Finished reordering the columns.

In [8]:
mysumstats.data

                  SNPID  CHR        POS     EA NEA   STATUS
0         1:1066403:T:C    1    1066403      C   T  9960099
1         1:1163266:G:A    1    1163266      A   G  9960099
2         1:1213224:T:A    1    1213224      A   T  9960099
3         1:3066761:A:T    1    3066761      T   A  9960099
4     1:3997271:T:TTTTA    1    3997271  TTTTA   T  9960399
5        1:4007705:TC:T    1    4007705      T  TC  9960399
6     1:5164281:A:AAGAG    1    5164281  AAGAG   A  9960399
7      1:12799025:C:CCT    1   12799025    CCT   C  9960399
8        1:19323015:T:A    1   19323015      A   T  9960099
9        1:22841855:A:T    1   22841855      T   A  9960099
10  3:183629306:T:TTCTC    3  183629306  TTCTC   T  9960399
11       4:99731866:G:C    4   99731866      C   G  9960099
12       8:89935201:C:G    8   89935201      G   C  9960099
13        X:4206466:G:C   23    4206466      C   G  9960099
14        X:5053229:A:T   23    5053229      T   A  9960099
15        X:5053229:A:T   23    5053229      T   A  9960099
16        Y:5053229:A:T   24    5053229      T   A  9960099

## construct SNPID from CHR, POS, NEA, EA

In [9]:
mysumstats.data = mysumstats.data.drop(columns=["SNPID"])
mysumstats.data

    CHR        POS     EA NEA   STATUS
0     1    1066403      C   T  9960099
1     1    1163266      A   G  9960099
2     1    1213224      A   T  9960099
3     1    3066761      T   A  9960099
4     1    3997271  TTTTA   T  9960399
5     1    4007705      T  TC  9960399
6     1    5164281  AAGAG   A  9960399
7     1   12799025    CCT   C  9960399
8     1   19323015      A   T  9960099
9     1   22841855      T   A  9960099
10    3  183629306  TTCTC   T  9960399
11    4   99731866      C   G  9960099
12    8   89935201      G   C  9960099
13   23    4206466      C   G  9960099
14   23    5053229      T   A  9960099
15   23    5053229      T   A  9960099
16   24    5053229      T   A  9960099

By default, gwaslab will check variant STATUS code and only fix the SNPID for those are aligned with reference genome. 
If not the data was not aligned, gwaslab will only use CHR and POS to create SNPID.

In [10]:
mysumstats.fix_id(fixid=True)
mysumstats.data

2024/12/20 13:39:27 Start to check SNPID/rsID...v3.5.4
2024/12/20 13:39:27  -Current Dataframe shape : 17 x 5 ; Memory usage: 21.47 MB
2024/12/20 13:39:28  -Filling 17 SNPID using CHR:POS...
2024/12/20 13:39:28  -Filling 0 SNPID using CHR:POS:NEA:EA...
2024/12/20 13:39:30  -Fixed 17 variants ID...
2024/12/20 13:39:30 Finished checking SNPID/rsID.

    CHR        POS     EA NEA   STATUS        SNPID
0     1    1066403      C   T  9960099    1:1066403
1     1    1163266      A   G  9960099    1:1163266
2     1    1213224      A   T  9960099    1:1213224
3     1    3066761      T   A  9960099    1:3066761
4     1    3997271  TTTTA   T  9960399    1:3997271
5     1    4007705      T  TC  9960399    1:4007705
6     1    5164281  AAGAG   A  9960399    1:5164281
7     1   12799025    CCT   C  9960399   1:12799025
8     1   19323015      A   T  9960099   1:19323015
9     1   22841855      T   A  9960099   1:22841855
10    3  183629306  TTCTC   T  9960399  3:183629306
11    4   99731866      C   G  9960099   4:99731866
12    8   89935201      G   C  9960099   8:89935201
13   23    4206466      C   G  9960099   23:4206466
14   23    5053229      T   A  9960099   23:5053229
15   23    5053229      T   A  9960099   23:5053229
16   24    5053229      T   A  9960099   24:5053229

You can force gwaslab to create SNPID using `forcefixid=True`. And`overwrite=True` will overwrite the existing SNPID

In [11]:
mysumstats.fix_id(fixid=True, forcefixid=True, overwrite=True)

2024/12/20 13:39:30 Start to check SNPID/rsID...v3.5.4
2024/12/20 13:39:30  -Current Dataframe shape : 17 x 6 ; Memory usage: 21.47 MB
2024/12/20 13:39:30  -Checking SNPID data type...
2024/12/20 13:39:30  -Checking if SNPID is CHR:POS:NEA:EA...(separator: - ,: , _)
2024/12/20 13:39:32  -Filling 0 SNPID using CHR:POS...
2024/12/20 13:39:32  -Filling 17 SNPID using CHR:POS:NEA:EA...
2024/12/20 13:39:33  -Fixed 0 variants ID...
2024/12/20 13:39:33 Finished checking SNPID/rsID.

In [12]:
mysumstats.data

    CHR        POS     EA NEA   STATUS                SNPID
0     1    1066403      C   T  9960099        1:1066403:T:C
1     1    1163266      A   G  9960099        1:1163266:G:A
2     1    1213224      A   T  9960099        1:1213224:T:A
3     1    3066761      T   A  9960099        1:3066761:A:T
4     1    3997271  TTTTA   T  9960399    1:3997271:T:TTTTA
5     1    4007705      T  TC  9960399       1:4007705:TC:T
6     1    5164281  AAGAG   A  9960399    1:5164281:A:AAGAG
7     1   12799025    CCT   C  9960399     1:12799025:C:CCT
8     1   19323015      A   T  9960099       1:19323015:T:A
9     1   22841855      T   A  9960099       1:22841855:A:T
10    3  183629306  TTCTC   T  9960399  3:183629306:T:TTCTC
11    4   99731866      C   G  9960099       4:99731866:G:C
12    8   89935201      G   C  9960099       8:89935201:C:G
13   23    4206466      C   G  9960099       23:4206466:G:C
14   23    5053229      T   A  9960099       23:5053229:A:T
15   23    5053229      T   A  9960099       23:5053229:A:T
16   24    5053229      T   A  9960099       24:5053229:A:T