In [2]:
#!wget -O "../../0_sample_data/koges_bmi.tsv.gz" https://koges.leelabsg.org/download/KoGES_BMI

--2024-12-23 16:48:00--  https://koges.leelabsg.org/download/KoGES_BMI
Resolving koges.leelabsg.org (koges.leelabsg.org)... 35.192.148.108
Connecting to koges.leelabsg.org (koges.leelabsg.org)|35.192.148.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 158394405 (151M) [text/tab-separated-values]
Saving to: ‘../../0_sample_data/koges_bmi.tsv.gz’

../../0_sample_data 100%[===================>] 151.06M  18.8MB/s    in 20s

2024-12-23 16:48:21 (7.54 MB/s) - ‘../../0_sample_data/koges_bmi.tsv.gz’ saved [158394405/158394405]

## load gwaslab and sample data

In [1]:
import sys
sys.path.insert(0,"/home/yunye/work/gwaslab/src")
import gwaslab as gl

In [2]:
mysumstats = gl.Sumstats("../../0_sample_data/koges_bmi.tsv.gz", 
                             chrom="chrom",
                             pos="pos",
                             ea="alt",
                             nea="ref",
                             eaf="af",
                             beta="beta",
                             se="sebeta",
                             p="pval",nrows=1000000,
                            verbose=False)

In [3]:
mysumstats.basic_check(verbose=True)

2024/12/24 12:35:09 Start to check SNPID/rsID...v3.5.4
2024/12/24 12:35:09  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 75.34 MB
2024/12/24 12:35:09 Finished checking SNPID/rsID.
2024/12/24 12:35:10 Start to fix chromosome notation (CHR)...v3.5.4
2024/12/24 12:35:10  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 75.34 MB
2024/12/24 12:35:10  -Checking CHR data type...
2024/12/24 12:35:10  -Variants with standardized chromosome notation: 1000000
2024/12/24 12:35:10  -All CHR are already fixed...
2024/12/24 12:35:11 Finished fixing chromosome notation (CHR).
2024/12/24 12:35:11 Start to fix basepair positions (POS)...v3.5.4
2024/12/24 12:35:11  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 76.29 MB
2024/12/24 12:35:11  -Converting to Int64 data type ...
2024/12/24 12:35:13  -Position bound:(0 , 250,000,000)
2024/12/24 12:35:13  -Removed outliers: 0
2024/12/24 12:35:13 Finished fixing basepair positions (POS).
2024/12/24 12:35:13 Start to fix alleles (EA and NEA)...v3.5.4
2024/12/24 12:35:13  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 84.88 MB
2024/12/24 12:35:13  -Converted all bases to string datatype and UPPERCASE.
2024/12/24 12:35:13  -Variants with bad EA  : 464
2024/12/24 12:35:13  -Variants with bad NEA : 0
2024/12/24 12:35:13  -Variants with NA for EA or NEA: 0
2024/12/24 12:35:13  -Variants with same EA and NEA: 0
2024/12/24 12:35:13  -A look at the non-ATCG EA: {'<CN0>', '<INS:ME:ALU>'} ...
2024/12/24 12:35:13  -Detected 464 variants with alleles that contain bases other than A/C/T/G .
2024/12/24 12:35:18 Finished fixing alleles (EA and NEA).
2024/12/24 12:35:18 Start to perform sanity check for statistics...v3.5.4
2024/12/24 12:35:18  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 85.07 MB
2024/12/24 12:35:18  -Comparison tolerance for floats: 1e-07
2024/12/24 12:35:18  -Checking if -1e-07 < EAF < 1.0000001 ...
2024/12/24 12:35:18  -Removed 0 variants with bad/na EAF.
2024/12/24 12:35:18  -Checking if -1e-07 < P < 1.0000001 ...
2024/12/24 12:35:18  -Removed 0 variants with bad/na P.
2024/12/24 12:35:18  -Checking if -100.0000001 < BETA < 100.0000001 ...
2024/12/24 12:35:18  -Removed 0 variants with bad/na BETA.
2024/12/24 12:35:18  -Checking if -1e-07 < SE < inf ...
2024/12/24 12:35:18  -Removed 0 variants with bad/na SE.
2024/12/24 12:35:18  -Checking STATUS and converting STATUS to categories....
2024/12/24 12:35:19  -Removed 0 variants with bad statistics in total.
2024/12/24 12:35:19  -Data types for each column:
2024/12/24 12:35:19  -Column  : CHR   POS   EA       NEA      EAF     BETA    SE      P       STATUS
2024/12/24 12:35:19  -DType   : Int64 Int64 category category float32 float64 float64 float64 category
2024/12/24 12:35:19  -Verified: T     T     T        T        T       T       T       T       T
2024/12/24 12:35:19 Finished sanity check for statistics.
2024/12/24 12:35:19 Start to check data consistency across columns...v3.5.4
2024/12/24 12:35:19  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 81.25 MB
2024/12/24 12:35:19  -Tolerance: 0.001 (Relative) and 0.001 (Absolute)
2024/12/24 12:35:19  -SNPID/rsID not available...SKipping
2024/12/24 12:35:19 Finished checking data consistency across columns.
2024/12/24 12:35:19 Start to normalize indels...v3.5.4
2024/12/24 12:35:19  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 81.25 MB
2024/12/24 12:35:20  -Not normalized allele IDs:[656] [1089] [1592] [2366] [3221] ...
2024/12/24 12:35:20  -Not normalized allele:['TTGTGTG' 'TTGTG']['TTG' 'CTG']['TAC' 'TACAC']['CAGAGAGAG' 'CAGAGAG']['TGT' 'CGT']...
2024/12/24 12:35:20  -Modified 3787 variants according to parsimony and left alignment principal.
2024/12/24 12:35:20 Finished normalizing indels.
2024/12/24 12:35:20 Start to sort the genome coordinates...v3.5.4
2024/12/24 12:35:20  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 81.25 MB
2024/12/24 12:35:20 Finished sorting coordinates.
2024/12/24 12:35:20 Start to reorder the columns...v3.5.4
2024/12/24 12:35:20  -Current Dataframe shape : 1000000 x 9 ; Memory usage: 73.62 MB
2024/12/24 12:35:20  -Reordering columns to    : CHR,POS,EA,NEA,EAF,BETA,SE,P,STATUS
2024/12/24 12:35:20 Finished reordering the columns.

In [4]:
mysumstats.fix_id(fixid=True,forcefixid=True,overwrite=True,verbose=False)

In [5]:
mysumstats.data

,CHR,POS,EA,NEA,EAF,BETA,SE,P,STATUS,SNPID
0,1,714646,T,TTTGAAAC,0.026,0.0093,0.0170,0.5900,9960399,1:714646:TTTGAAAC:T
1,1,725256,T,C,0.027,0.0076,0.0170,0.6500,9960099,1:725256:C:T
2,1,726805,GA,G,0.026,0.0078,0.0180,0.6600,9960399,1:726805:G:GA
3,1,726807,T,TTG,0.026,0.0078,0.0180,0.6600,9960399,1:726807:TTG:T
4,1,726812,AG,A,0.026,0.0078,0.0180,0.6600,9960399,1:726812:A:AG
...,...,...,...,...,...,...,...,...,...,...
999995,2,142257738,A,G,0.020,-0.0030,0.0180,0.8700,9960099,2:142257738:G:A
999996,2,142257971,G,T,0.540,-0.0057,0.0051,0.2700,9960099,2:142257971:T:G
999997,2,142258001,A,G,0.370,0.0140,0.0053,0.0068,9960099,2:142258001:G:A
999998,2,142258020,A,G,0.082,0.0210,0.0093,0.0230,9960099,2:142258020:G:A
999999,2,142258089,G,A,0.530,-0.0110,0.0051,0.0330,9960099,2:142258089:A:G

In [6]:
mysumstats2 = gl.Sumstats("../../0_sample_data/t2d_bbj.txt.gz", 
                             snpid="SNP",
                             chrom="CHR",
                             pos="POS",
                             ea="REF",
                             nea="ALT",
                             eaf="Frq",
                             beta="BETA",
                             se="SE",
                             p="P",
                             nrows=1000000,
                             verbose=False)

In [7]:
mysumstats2.basic_check(verbose=False)

## create a SumstatsPair object

Allele and statistics in sumstats2 will be aligned using sumstats1 as reference

In [8]:
pair = gl.SumstatsPair(mysumstats, mysumstats2)

2024/12/24 12:35:37 Start to create SumstatsPair object...
2024/12/24 12:35:37  -Checking sumstats 1...
2024/12/24 12:35:37  -Column  : CHR   POS   EA       NEA      EAF     BETA    SE      P       STATUS   SNPID
2024/12/24 12:35:37  -DType   : Int64 Int64 category category float32 float64 float64 float64 category string
2024/12/24 12:35:37  -Verified: T     T     T        T        T       T       T       T       T        T
2024/12/24 12:35:37  -Current Dataframe shape : 1000000 x 10 ; Memory usage: 81.25 MB
2024/12/24 12:35:37  -Checking sumstats 2...
2024/12/24 12:35:37  -Column  : SNPID  CHR   POS   EA       NEA      EAF     BETA    SE      P       STATUS
2024/12/24 12:35:37  -DType   : string Int64 Int64 category category float32 float64 float64 float64 category
2024/12/24 12:35:37  -Verified: T      T     T     T        T        T       T       T       T       T
2024/12/24 12:35:37  -Current Dataframe shape : 1000000 x 10 ; Memory usage: 81.23 MB
2024/12/24 12:35:37  -Variant Info columns: ['CHR', 'POS', 'EA', 'NEA', 'STATUS', 'SNPID']
2024/12/24 12:35:37  -Variant statistics columns: ['EAF', 'BETA', 'SE', 'P']
2024/12/24 12:35:37  -Sumstats1 other columns: []
2024/12/24 12:35:37  -Sumstats2 other columns: []
2024/12/24 12:35:37 Start to merge sumstats...
2024/12/24 12:35:37  -Dropping old IDs:['SNPID']
2024/12/24 12:35:37  -After merging by CHR and POS:613216
2024/12/24 12:35:37  -Matching alleles and keeping only variants with same allele set:
2024/12/24 12:35:37   -Perfect match: 330147
2024/12/24 12:35:38   -Flipped match: 282001
2024/12/24 12:35:38   -Unmatched : 1068
2024/12/24 12:35:38  -Matched variants:612148
2024/12/24 12:35:38  -Aligning alleles with reference:
2024/12/24 12:35:38   -Perfect match: 330147
2024/12/24 12:35:38   -Flipped match: 282001
2024/12/24 12:35:38   -For perfect match: copy STATUS from reference...
2024/12/24 12:35:38   -For Flipped match: convert STATUS xxxxx[456789]x to xxxxx3x...
2024/12/24 12:35:39 Start to adjust statistics based on STATUS code...v3.5.4
2024/12/24 12:35:39  -Current Dataframe shape : 612148 x 17 ; Memory usage: 106.02 MB
2024/12/24 12:35:40 Start to flip allele-specific stats for SNPs with status xxxxx[35]x: ALT->EA , REF->NEA ...v3.5.4
2024/12/24 12:35:40  -Flipping 282001 variants...
2024/12/24 12:35:40  -Swapping column: NEA <=> EA...
2024/12/24 12:35:40  -Flipping column: BETA = - BETA...
2024/12/24 12:35:40  -Flipping column: EAF = 1 - EAF...
2024/12/24 12:35:40  -Changed the status for flipped variants : xxxxx[35]x -> xxxxx[12]x
2024/12/24 12:35:41 Finished adjusting statistics based on STATUS code.
2024/12/24 12:35:41  -Renaming sumstats2 columns by adding suffix _2
2024/12/24 12:35:41 Start to reorder the columns...
2024/12/24 12:35:41  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
2024/12/24 12:35:41 Finished sorting columns successfully!

In [9]:
pair.data

,SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
0,1:751343:T:A,1,751343,A,T,0.16,-0.00160,0.0074,0.82,9960099,0.1407,0.0172,0.0156,0.27050,9960099
1,1:751488:G:GA,1,751488,GA,G,0.16,-0.00390,0.0077,0.61,9960399,0.1470,0.0187,0.0174,0.28300,9960319
2,1:751756:T:C,1,751756,C,T,0.16,-0.00150,0.0074,0.84,9960099,0.1400,0.0172,0.0156,0.27050,9960019
3,1:752566:G:A,1,752566,A,G,0.83,0.00091,0.0073,0.90,9960099,0.8422,-0.0155,0.0131,0.23500,9960099
4,1:752894:T:C,1,752894,C,T,0.84,0.00130,0.0074,0.86,9960099,0.8560,-0.0169,0.0147,0.25250,9960019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613211,2:6347478:T:C,2,6347478,C,T,0.22,-0.00270,0.0063,0.67,9960099,0.2093,-0.0149,0.0111,0.17790,9960019
613212,2:6347639:C:A,2,6347639,A,C,0.22,-0.00280,0.0063,0.66,9960099,0.2100,-0.0159,0.0111,0.15100,9960099
613213,2:6347694:G:C,2,6347694,C,G,0.22,-0.00270,0.0063,0.67,9960099,0.2093,-0.0151,0.0111,0.17250,9960099
613214,2:6348478:G:A,2,6348478,A,G,0.22,-0.00280,0.0063,0.65,9960099,0.2140,-0.0152,0.0111,0.17160,9960099
613215,2:6348754:A:C,2,6348754,C,A,0.14,-0.00350,0.0073,0.64,9960099,0.1572,-0.0297,0.0126,0.01846,9960019

### Run clumping

In [10]:
pair.clump(vcf = gl.get_path("1kg_eas_hg19"))

2024/12/24 12:35:41 Start to perfrom clumping...v3.5.4
2024/12/24 12:35:41  -Current Dataframe shape : 612148 x 15 ; Memory usage: 103.08 MB
2024/12/24 12:35:41 Start to perform clumping...
2024/12/24 12:35:41  -Clumping parameters for PLINK2:
2024/12/24 12:35:41   -clump_p1 : 5e-08...
2024/12/24 12:35:41   -clump_p2 : 5e-08...
2024/12/24 12:35:41   -clump_kb : 250...
2024/12/24 12:35:41   -clump_r2 : 0.01...
2024/12/24 12:35:41  -Clumping will be performed using P_1
2024/12/24 12:35:41  -Significant variants on CHR:  [1, 2]
2024/12/24 12:35:41  -Processing VCF : /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.vcf.gz...
2024/12/24 12:35:41  -PLINK version: PLINK v2.00a5.9LM AVX2 AMD (12 Dec 2023)
2024/12/24 12:35:41   -Processing VCF for CHR 1...
2024/12/24 12:35:41   -Plink bfile for CHR 1 exists: /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.1. Skipping...
2024/12/24 12:35:41   -Processing VCF for CHR 2...
2024/12/24 12:35:41   -Plink bfile for CHR 2 exists: /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.2. Skipping...
2024/12/24 12:35:41  -Processing sumstats for CHR 1...
2024/12/24 12:35:46  -Variants in reference file: 6471908...
2024/12/24 12:35:46  -Variants in sumstats: 54...
2024/12/24 12:35:46  -Variants available in both reference and sumstats: 54...
2024/12/24 12:35:46  -Processing sumstats for CHR 2...
2024/12/24 12:35:50  -Variants in reference file: 7085912...
2024/12/24 12:35:50  -Variants in sumstats: 235...
2024/12/24 12:35:50  -Variants available in both reference and sumstats: 235...
2024/12/24 12:35:50  -Performing clumping for CHR 1...
2024/12/24 12:35:50  -PLINK version: PLINK v2.00a5.9LM AVX2 AMD (12 Dec 2023)
2024/12/24 12:35:51  -Saved results for CHR 1 to : clumping_plink2.1.clumps
2024/12/24 12:35:51  -Performing clumping for CHR 2...
2024/12/24 12:35:51  -PLINK version: PLINK v2.00a5.9LM AVX2 AMD (12 Dec 2023)
2024/12/24 12:35:52  -Saved results for CHR 2 to : clumping_plink2.2.clumps
2024/12/24 12:35:52 Finished clumping.
2024/12/24 12:35:52 Finished clumping.

In [11]:
pair.clumps["clumps"]

,SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
386282,1:177894591:T:G,1,177894591,G,T,0.280,0.065,0.0057,7.800000e-31,9960099,0.2650,0.0382,0.0102,1.725000e-04,9960019
593792,2:527882:C:G,2,527882,G,C,0.917,-0.053,0.0095,2.100000e-08,9960099,0.9286,-0.0476,0.0175,6.409000e-03,9960019
594310,2:632723:C:T,2,632723,T,C,0.907,0.070,0.0088,1.900000e-15,9960099,0.9021,0.0937,0.0150,3.940000e-10,9960099

### Run two sample MR by calling twosampleMR  in R

In [12]:
pair.run_two_sample_mr(clump=True, 
                       f_check=10,
                       r="/home/yunye/anaconda3/envs/r41/bin/Rscript",
                       n1=72000,
                       cck2=(40000,120000,0.1))

2024/12/24 12:35:52  Start to run MR using twosampleMR from command line:
2024/12/24 12:35:52  - ncase2, ncontrol2, prevalence2:(40000, 120000, 0.1)
2024/12/24 12:35:52 Start to calculate per-SNP heritibility...
2024/12/24 12:35:52  -Calculating per-SNP rsq by 2 * (BETA**2) * AF * (1-AF) / Var(y)...
2024/12/24 12:35:52  -Var(y) is provided: 1...
2024/12/24 12:35:52  -Calculating F-statistic: F = [(N-k-1)/k] * (r2/1-r2)... where k = 1
2024/12/24 12:35:52  -For r2, SNPR2 is used.
2024/12/24 12:35:52 Finished calculating per-SNP heritability!
2024/12/24 12:35:52 Filtered out 0 variants with F < 10
2024/12/24 12:35:52  -R version: R scripting front-end version 4.1.3 (2022-03-10)
2024/12/24 12:35:52  Running TwoSampleMR from command line...
2024/12/24 12:35:55 TwoSampleMR version 0.5.8
[>] New: Option to use non-European LD reference panels for clumping etc
[>] Some studies temporarily quarantined to verify effect allele
[>] See news(package='TwoSampleMR') and https://gwas.mrcieu.ac.uk for further details


Warning:
You are running an old version of the TwoSampleMR package.
This version:   0.5.8
Latest version: 0.6.8
Please consider updating using remotes::install_github('MRCIEU/TwoSampleMR')
Harmonising STUDY1 (H4lJZt) and STUDY2 (aLOCCI)
Analysing 'H4lJZt' on 'aLOCCI'

In [13]:
pair.mr["mr"]

,id.exposure,id.outcome,outcome,exposure,method,nsnp,b,se,pval
0,H4lJZt,aLOCCI,STUDY2,STUDY1,Inverse variance weighted,3,0.855997,0.236592,0.000297
1,H4lJZt,aLOCCI,STUDY2,STUDY1,Simple mode,3,0.816022,0.320336,0.125697
2,H4lJZt,aLOCCI,STUDY2,STUDY1,Weighted median,3,0.734788,0.164824,0.000008
3,H4lJZt,aLOCCI,STUDY2,STUDY1,MR Egger,3,2.012733,3.582989,0.674167
4,H4lJZt,aLOCCI,STUDY2,STUDY1,Inverse variance weighted (multiplicative rand...,3,0.855997,0.236592,0.000297
5,H4lJZt,aLOCCI,STUDY2,STUDY1,Weighted mode,3,0.629216,0.167361,0.064027

In [14]:
pair.mr["pleiotropy"]

  id.exposure id.outcome outcome exposure  egger_intercept        se      pval
0      H4lJZt     aLOCCI  STUDY2   STUDY1        -0.074644  0.230296  0.800459

In [15]:
pair.mr["heterogeneity"]

,id.exposure,id.outcome,outcome,exposure,method,Q,Q_df,Q_pval
0,H4lJZt,aLOCCI,STUDY2,STUDY1,MR Egger,7.249592,1,0.007092
1,H4lJZt,aLOCCI,STUDY2,STUDY1,Inverse variance weighted,8.011201,2,0.018213

In [18]:
pair.mr["directionality"]

,id.exposure,id.outcome,exposure,outcome,snp_r2.exposure,snp_r2.outcome,correct_causal_direction,steiger_pval
0,H4lJZt,aLOCCI,STUDY1,STUDY2,0.003113,0.00037,True,3.341027e-16

In [19]:
pair.mr["singlesnp"]

,exposure,outcome,id.exposure,id.outcome,samplesize,SNP,b,se,p
0,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,1:177894591:t:g,0.587692,0.156923,1.803233e-04
1,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,2:527882:c:g,0.898113,0.330189,6.528192e-03
2,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,2:632723:c:t,1.338571,0.214286,4.193046e-10
3,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,All - Inverse variance weighted,0.855997,0.236592,2.968568e-04
4,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,All - MR Egger,2.012733,3.582989,6.741670e-01

In [20]:
pair.mr["leaveoneout"]

,exposure,outcome,id.exposure,id.outcome,samplesize,SNP,b,se,p
0,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,1:177894591:t:g,1.208039,0.201135,1.900400e-09
1,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,2:527882:c:g,0.849805,0.357927,1.758512e-02
2,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,2:632723:c:t,0.644887,0.141731,5.362743e-06
3,STUDY1,STUDY2,H4lJZt,aLOCCI,160000,All,0.855997,0.236592,2.968568e-04

In [21]:
pair.mr["r_log"]

"TwoSampleMR version 0.5.8 \n[>] New: Option to use non-European LD reference panels for clumping etc\n[>] Some studies temporarily quarantined to verify effect allele\n[>] See news(package='TwoSampleMR') and https://gwas.mrcieu.ac.uk for further details\n\n\nWarning:\nYou are running an old version of the TwoSampleMR package.\nThis version:   0.5.8\nLatest version: 0.6.8\nPlease consider updating using remotes::install_github('MRCIEU/TwoSampleMR')\nHarmonising STUDY1 (H4lJZt) and STUDY2 (aLOCCI)\nAnalysing 'H4lJZt' on 'aLOCCI'\n\n"