# Liftover

In [1]:
import gwaslab as gl

In [8]:
mysumstats = gl.Sumstats("t2d_bbj.txt.gz",
             snpid="SNP",
             chrom="CHR",
             pos="POS",
             ea="ALT",
             nea="REF",
             neaf="Frq",
             beta="BETA",
             se="SE",
             p="P",nrows=500000)

Wed Oct 19 16:25:52 2022 Start to initiate from file :t2d_bbj.txt.gz
Wed Oct 19 16:25:53 2022  -Reading columns          : SNP,Frq,ALT,POS,P,BETA,REF,CHR,SE
Wed Oct 19 16:25:53 2022  -Renaming columns to      : SNPID,EAF,EA,POS,P,BETA,NEA,CHR,SE
Wed Oct 19 16:25:53 2022  -Current dataframe shape  : Rows  500000  x  9  Columns
Wed Oct 19 16:25:53 2022  -Initiating a status column ...
Wed Oct 19 16:25:54 2022  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,STATUS
Wed Oct 19 16:25:54 2022  -NEAF is specified...
Wed Oct 19 16:25:54 2022  -Checking if 0<= NEAF <=1 ...
Wed Oct 19 16:25:54 2022  -Converted NEAF to EAF.
Wed Oct 19 16:25:54 2022  -Removed 0 variants with bad NEAF.
Wed Oct 19 16:25:54 2022 Finished loading data successfully!

In [9]:
mysumstats.basic_check()

Wed Oct 19 16:25:54 2022 Start to check IDs...
Wed Oct 19 16:25:54 2022  -Current Dataframe shape : 500000  x  10
Wed Oct 19 16:25:54 2022  -Checking if SNPID is chr:pos:ref:alt...(separator: - ,: , _)
Wed Oct 19 16:25:55 2022 Finished checking IDs successfully!
Wed Oct 19 16:25:55 2022 Start to fix chromosome notation...
Wed Oct 19 16:25:55 2022  -Current Dataframe shape : 500000  x  10
Wed Oct 19 16:25:57 2022  -All CHR are already fixed...
Wed Oct 19 16:25:58 2022 Finished fixing chromosome notation successfully!
Wed Oct 19 16:25:58 2022 Start to fix basepair positions...
Wed Oct 19 16:25:58 2022  -Current Dataframe shape : 500000  x  10
Wed Oct 19 16:25:59 2022  -Position upper_bound is: 250,000,000
Wed Oct 19 16:26:00 2022  -Remove outliers: 0
Wed Oct 19 16:26:00 2022  -Converted all position to datatype Int64.
Wed Oct 19 16:26:00 2022 Finished fixing basepair position successfully!
Wed Oct 19 16:26:00 2022 Start to fix alleles...
Wed Oct 19 16:26:00 2022  -Current Dataframe shape : 500000  x  10
Wed Oct 19 16:26:01 2022  -Converted all bases to string datatype and UPPERCASE.
Wed Oct 19 16:26:02 2022 Finished fixing allele successfully!
Wed Oct 19 16:26:02 2022 Start sanity check for statistics ...
Wed Oct 19 16:26:02 2022  -Current Dataframe shape : 500000  x  10
Wed Oct 19 16:26:02 2022  -Checking if 0<= EAF <=1 ...
Wed Oct 19 16:26:02 2022  -Removed 0 variants with bad EAF.
Wed Oct 19 16:26:02 2022  -Checking if 0< P <5e-300 ...
Wed Oct 19 16:26:02 2022  -Removed 0 variants with bad P.
Wed Oct 19 16:26:02 2022  -Checking if abs(BETA)<10 ...
Wed Oct 19 16:26:02 2022  -Removed 0 variants with bad BETA.
Wed Oct 19 16:26:02 2022  -Checking if SE >0 ...
Wed Oct 19 16:26:02 2022  -Removed 0 variants with bad SE.
Wed Oct 19 16:26:02 2022  -Checking STATUS...
Wed Oct 19 16:26:03 2022  -Coverting STAUTUS to category.
Wed Oct 19 16:26:03 2022  -Removed 0 variants with bad statistics in total.
Wed Oct 19 16:26:03 2022 Finished sanity check successfully!
Wed Oct 19 16:26:03 2022 Start to normalize variants...
Wed Oct 19 16:26:03 2022  -Current Dataframe shape : 500000  x  10
Wed Oct 19 16:26:04 2022  -No available variants to normalize..
Wed Oct 19 16:26:04 2022 Finished normalizing variants successfully!

In [10]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,STATUS
0,1:725932_G_A,1,725932,G,A,0.9960,-0.0737,0.1394,0.597000,9960099
1,1:725933_A_G,1,725933,G,A,0.0040,0.0737,0.1394,0.597300,9960099
2,1:737801_T_C,1,737801,C,T,0.0051,0.0490,0.1231,0.690800,9960099
3,1:749963_T_TAA,1,749963,TAA,T,0.8374,0.0213,0.0199,0.284600,9960399
4,1:751343_T_A,1,751343,T,A,0.8593,0.0172,0.0156,0.270500,9960099
...,...,...,...,...,...,...,...,...,...,...
499995,1:116768304_A_G,1,116768304,G,A,0.0020,0.0881,0.1312,0.502100,9960099
499996,1:116768310_T_C,1,116768310,C,T,0.0059,0.0575,0.0584,0.324800,9960099
499997,1:116768460_G_A,1,116768460,G,A,0.9896,0.1191,0.0442,0.006983,9960099
499998,1:116768479_T_A,1,116768479,T,A,0.9003,0.0067,0.0149,0.652700,9960099
499999,1:116768615_TA_T,1,116768615,TA,T,0.6184,-0.0121,0.0094,0.198500,9960399

In [11]:
mysumstats.liftover(n_cores=3, from_build="19", to_build="38")

Wed Oct 19 16:26:04 2022 Start to perform liftover...
Wed Oct 19 16:26:04 2022  -Current Dataframe shape : 500000  x  10
Wed Oct 19 16:26:04 2022  -CPU Cores to use : 3
Wed Oct 19 16:26:04 2022  -Performing liftover ...
Wed Oct 19 16:26:04 2022  -Creating converter : hg19 to hg38
Wed Oct 19 16:26:05 2022  -Converting variants with status code xxx0xxx :500000...
Wed Oct 19 16:27:34 2022  -Removed unmapped variants: 114
Wed Oct 19 16:27:38 2022 Finished liftover successfully!

In [12]:
mysumstats.data

,SNPID,CHR,POS,EA,NEA,EAF,BETA,SE,P,STATUS
0,1:725932_G_A,1,790552,G,A,0.9960,-0.0737,0.1394,0.597000,3860099
1,1:725933_A_G,1,790553,G,A,0.0040,0.0737,0.1394,0.597300,3860099
2,1:737801_T_C,1,802421,C,T,0.0051,0.0490,0.1231,0.690800,3860099
3,1:749963_T_TAA,1,814583,TAA,T,0.8374,0.0213,0.0199,0.284600,3860399
4,1:751343_T_A,1,815963,T,A,0.8593,0.0172,0.0156,0.270500,3860099
...,...,...,...,...,...,...,...,...,...,...
499995,1:116768304_A_G,1,116225682,G,A,0.0020,0.0881,0.1312,0.502100,3860099
499996,1:116768310_T_C,1,116225688,C,T,0.0059,0.0575,0.0584,0.324800,3860099
499997,1:116768460_G_A,1,116225838,G,A,0.9896,0.1191,0.0442,0.006983,3860099
499998,1:116768479_T_A,1,116225857,T,A,0.9003,0.0067,0.0149,0.652700,3860099
499999,1:116768615_TA_T,1,116225993,TA,T,0.6184,-0.0121,0.0094,0.198500,3860399