In [1]:
!wget -O "koges_bmi.tsv.gz" https://koges.leelabsg.org/download/KoGES_BMI

--2023-12-13 14:57:26--  https://koges.leelabsg.org/download/KoGES_BMI
Resolving koges.leelabsg.org (koges.leelabsg.org)... 35.192.148.108, 216.239.38.101, 216.239.36.101
Connecting to koges.leelabsg.org (koges.leelabsg.org)|35.192.148.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 158394405 (151M) [text/tab-separated-values]
Saving to: ‘koges_bmi.tsv.gz’

koges_bmi.tsv.gz    100%[===================>] 151.06M  18.9MB/s    in 17s

2023-12-13 14:57:44 (9.09 MB/s) - ‘koges_bmi.tsv.gz’ saved [158394405/158394405]

# testing

In [2]:
import sys
sys.path.insert(0,"/home/yunye/work/gwaslab/src")
import gwaslab as gl

In [3]:
mysumstats = gl.Sumstats("./koges_bmi.tsv.gz", 
                             chrom="chrom",
                             pos="pos",
                             ea="alt",
                             nea="ref",
                             eaf="af",
                             beta="beta",
                             se="sebeta",
                             p="pval",nrows=1000000,
                            verbose=False)

In [4]:
mysumstats.basic_check(verbose=False)

In [5]:
mysumstats.fix_id(fixid=True,forcefixid=True,overwrite=True,verbose=False)

In [6]:
mysumstats.data

,CHR,POS,EA,NEA,EAF,BETA,SE,P,STATUS,SNPID
0,1,714646,T,TTTGAAAC,0.026,0.0093,0.0170,0.5900,9960399,1:714646:TTTGAAAC:T
1,1,725256,T,C,0.027,0.0076,0.0170,0.6500,9960099,1:725256:C:T
2,1,726805,GA,G,0.026,0.0078,0.0180,0.6600,9960399,1:726805:G:GA
3,1,726807,T,TTG,0.026,0.0078,0.0180,0.6600,9960399,1:726807:TTG:T
4,1,726812,AG,A,0.026,0.0078,0.0180,0.6600,9960399,1:726812:A:AG
...,...,...,...,...,...,...,...,...,...,...
999995,2,142257738,A,G,0.020,-0.0030,0.0180,0.8700,9960099,2:142257738:G:A
999996,2,142257971,G,T,0.540,-0.0057,0.0051,0.2700,9960099,2:142257971:T:G
999997,2,142258001,A,G,0.370,0.0140,0.0053,0.0068,9960099,2:142258001:G:A
999998,2,142258020,A,G,0.082,0.0210,0.0093,0.0230,9960099,2:142258020:G:A
999999,2,142258089,G,A,0.530,-0.0110,0.0051,0.0330,9960099,2:142258089:A:G

In [7]:
dirty_sumstats = gl.Sumstats("../t2d_bbj.txt.gz", 
                             snpid="SNP",
                             chrom="CHR",
                             pos="POS",
                             ea="REF",
                             nea="ALT",
                             eaf="Frq",
                             beta="BETA",
                             se="SE",
                             p="P",
                             nrows=1000000,
                             verbose=False)

In [8]:
dirty_sumstats.basic_check(verbose=False)

In [9]:
pair = gl.SumstatsPair(mysumstats, dirty_sumstats)

Wed Dec 13 14:58:04 2023 Dropping old IDs:['SNPID']
Wed Dec 13 14:58:04 2023 After merging by CHR and POS:613216
Wed Dec 13 14:58:04 2023 Matched variants:612148
Wed Dec 13 14:58:06 2023  -Current Dataframe shape : 612148  x  17
Wed Dec 13 14:58:06 2023 Start to flip allele-specific stats for SNPs with status xxxxx[35]x: alt->ea , ref->nea ...
Wed Dec 13 14:58:06 2023  -Flipping 282001 variants...
Wed Dec 13 14:58:06 2023  -Swapping column: NEA <=> EA...
Wed Dec 13 14:58:07 2023  -Flipping column: BETA = - BETA...
Wed Dec 13 14:58:07 2023  -Flipping column: EAF = 1 - EAF...
Wed Dec 13 14:58:07 2023  -Changed the status for flipped variants : xxxxx[35]x -> xxxxx[12]x
Wed Dec 13 14:58:08 2023 Finished converting successfully!
Wed Dec 13 14:58:08 2023  -Renaming sumstats2 columns by adding suffix _2
Wed Dec 13 14:58:08 2023 Start to reorder the columns...
Wed Dec 13 14:58:08 2023  -Reordering columns to    : SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
Wed Dec 13 14:58:08 2023 Finished sorting columns successfully!

In [10]:
pair.data

,SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
0,1:751343:T:A,1,751343,A,T,0.16,-0.00160,0.0074,0.82,9960099,0.1407,0.0172,0.0156,0.27050,9960099
1,1:751488:G:GA,1,751488,GA,G,0.16,-0.00390,0.0077,0.61,9960399,0.1470,0.0187,0.0174,0.28300,9960319
2,1:751756:T:C,1,751756,C,T,0.16,-0.00150,0.0074,0.84,9960099,0.1400,0.0172,0.0156,0.27050,9960019
3,1:752566:G:A,1,752566,A,G,0.83,0.00091,0.0073,0.90,9960099,0.8422,-0.0155,0.0131,0.23500,9960099
4,1:752894:T:C,1,752894,C,T,0.84,0.00130,0.0074,0.86,9960099,0.8560,-0.0169,0.0147,0.25250,9960019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613211,2:6347478:T:C,2,6347478,C,T,0.22,-0.00270,0.0063,0.67,9960099,0.2093,-0.0149,0.0111,0.17790,9960019
613212,2:6347639:C:A,2,6347639,A,C,0.22,-0.00280,0.0063,0.66,9960099,0.2100,-0.0159,0.0111,0.15100,9960099
613213,2:6347694:G:C,2,6347694,C,G,0.22,-0.00270,0.0063,0.67,9960099,0.2093,-0.0151,0.0111,0.17250,9960099
613214,2:6348478:G:A,2,6348478,A,G,0.22,-0.00280,0.0063,0.65,9960099,0.2140,-0.0152,0.0111,0.17160,9960099
613215,2:6348754:A:C,2,6348754,C,A,0.14,-0.00350,0.0073,0.64,9960099,0.1572,-0.0297,0.0126,0.01846,9960019

In [11]:
pair.clump(vcf = gl.get_path("1kg_eas_hg19"))

Wed Dec 13 14:58:08 2023 Start to perform clumping...
Wed Dec 13 14:58:08 2023  -Clumping parameters for PLINK2:
Wed Dec 13 14:58:08 2023   -clump_p1 : 5e-08...
Wed Dec 13 14:58:08 2023   -clump_p2 : 5e-08...
Wed Dec 13 14:58:08 2023   -clump_kb : 250...
Wed Dec 13 14:58:08 2023   -clump_r2 : 0.2...
Wed Dec 13 14:58:08 2023  -Clumping will be performed using P_1
Wed Dec 13 14:58:08 2023  -Significant variants on CHR:  [1, 2]
Wed Dec 13 14:58:08 2023  -Processing VCF : /home/yunye/.gwaslab/EAS.ALL.split_norm_af.1kgp3v5.hg19.vcf.gz...
Wed Dec 13 14:58:08 2023    -PLINK version: PLINK v2.00a6LM AVX2 AMD (30 Oct 2023)
Wed Dec 13 14:58:08 2023   -Processing VCF for CHR 1...
Wed Dec 13 14:58:08 2023   -Plink bfile for CHR 1 exists. Skipping...
Wed Dec 13 14:58:08 2023   -Processing VCF for CHR 2...
Wed Dec 13 14:58:08 2023   -Plink bfile for CHR 2 exists. Skipping...
Wed Dec 13 14:58:08 2023  -Processing sumstats for CHR 1...
Wed Dec 13 14:58:14 2023  -#variants in reference file: 6471908...
Wed Dec 13 14:58:14 2023  -#variants in sumstats: 54...
Wed Dec 13 14:58:14 2023  -#variants available in both reference and sumstats: 54...
Wed Dec 13 14:58:14 2023  -Processing sumstats for CHR 2...
Wed Dec 13 14:58:19 2023  -#variants in reference file: 7085912...
Wed Dec 13 14:58:19 2023  -#variants in sumstats: 235...
Wed Dec 13 14:58:19 2023  -#variants available in both reference and sumstats: 235...
Wed Dec 13 14:58:19 2023  -Performing clumping for CHR 1...
Wed Dec 13 14:58:19 2023    -PLINK version: PLINK v2.00a6LM AVX2 AMD (30 Oct 2023)
Wed Dec 13 14:58:20 2023  -Saved results for CHR 1 to : clumping_plink2.1.clumps
Wed Dec 13 14:58:20 2023  -Performing clumping for CHR 2...
Wed Dec 13 14:58:20 2023    -PLINK version: PLINK v2.00a6LM AVX2 AMD (30 Oct 2023)
Wed Dec 13 14:58:21 2023  -Saved results for CHR 2 to : clumping_plink2.2.clumps
Wed Dec 13 14:58:21 2023 Finished clumping.

In [12]:
pair.clumps["clumps"]

,SNPID,CHR,POS,EA,NEA,EAF_1,BETA_1,SE_1,P_1,STATUS_1,EAF_2,BETA_2,SE_2,P_2,STATUS_2
386089,1:177835040:C:A,1,177835040,A,C,0.049,0.069,0.0120,1.900000e-08,9960099,0.0452,0.0120,0.0223,5.902000e-01,9960099
386099,1:177837375:C:T,1,177837375,T,C,0.650,-0.037,0.0055,1.400000e-11,9960099,0.6617,-0.0278,0.0094,3.243000e-03,9960099
386267,1:177890455:G:GT,1,177890455,GT,G,0.390,-0.039,0.0055,1.800000e-12,9960399,0.4429,-0.0255,0.0096,7.909000e-03,9960319
386282,1:177894591:T:G,1,177894591,G,T,0.280,0.065,0.0057,7.800000e-31,9960099,0.2650,0.0382,0.0102,1.725000e-04,9960019
386298,1:177900098:T:C,1,177900098,C,T,0.630,0.032,0.0053,1.900000e-09,9960099,0.6184,0.0203,0.0093,2.878000e-02,9960019
386446,1:177936599:T:G,1,177936599,G,T,0.440,0.029,0.0053,2.900000e-08,9960099,0.4104,0.0210,0.0094,2.475000e-02,9960019
593792,2:527882:C:G,2,527882,G,C,0.917,-0.053,0.0095,2.100000e-08,9960099,0.9286,-0.0476,0.0175,6.409000e-03,9960019
594310,2:632723:C:T,2,632723,T,C,0.907,0.070,0.0088,1.900000e-15,9960099,0.9021,0.0937,0.0150,3.940000e-10,9960099

In [13]:
pair.run_two_sample_mr(clump=True, f_check=10,r="/home/yunye/anaconda3/envs/r41/bin/Rscript",n1=72000,n2=160000)

Wed Dec 13 14:58:21 2023  Start to run MR using twosampleMR from command line:
Wed Dec 13 14:58:21 2023 Start to calculate per-SNP heritibility...
Wed Dec 13 14:58:21 2023  -Calculating per-SNP rsq by 2 * (BETA**2) * AF * (1-AF) / Var(y)...
Wed Dec 13 14:58:21 2023  -Var(y) is provided: 1...
Wed Dec 13 14:58:21 2023  -Calculating F-statistic: F = [(N-k-1)/k] * (r2/1-r2)... where k = 1
Wed Dec 13 14:58:21 2023  -For r2, SNPR2 is used.
Wed Dec 13 14:58:21 2023 Finished calculating per-SNP heritibility!
Wed Dec 13 14:58:21 2023 Filtered out 0 variants with F < 10
Wed Dec 13 14:58:21 2023  -R version: R scripting front-end version 4.1.3 (2022-03-10)
Wed Dec 13 14:58:21 2023  Running TwoSampleMR from command line...
Wed Dec 13 14:59:23 2023 TwoSampleMR version 0.5.8
[>] New: Option to use non-European LD reference panels for clumping etc
[>] Some studies temporarily quarantined to verify effect allele
[>] See news(package='TwoSampleMR') and https://gwas.mrcieu.ac.uk for further details

Harmonising Trait1 (4ELL6L) and Trait2 (F3yZRL)
Analysing '4ELL6L' on 'F3yZRL'
r.exposure and/or r.outcome not present.
Calculating approximate SNP-exposure and/or SNP-outcome correlations, assuming all are quantitative traits. Please pre-calculate r.exposure and/or r.outcome using get_r_from_lor() for any binary traits

In [14]:
pair.mr["mr"]

,id.exposure,id.outcome,outcome,exposure,method,nsnp,b,se,pval
0,4ELL6L,F3yZRL,Trait2,Trait1,MR Egger,8,0.870499,0.381838,6.282040e-02
1,4ELL6L,F3yZRL,Trait2,Trait1,Weighted median,8,0.642454,0.126413,3.731287e-07
2,4ELL6L,F3yZRL,Trait2,Trait1,Inverse variance weighted,8,0.741736,0.114307,8.641694e-11
3,4ELL6L,F3yZRL,Trait2,Trait1,Simple mode,8,0.667179,0.181642,7.932253e-03
4,4ELL6L,F3yZRL,Trait2,Trait1,Weighted mode,8,0.623429,0.145291,3.606657e-03

In [15]:
pair.mr["pleiotropy"]

  id.exposure id.outcome outcome exposure  egger_intercept        se      pval
0      4ELL6L     F3yZRL  Trait2   Trait1        -0.006212  0.017452  0.734072

In [16]:
pair.mr["heterogeneity"]

,id.exposure,id.outcome,outcome,exposure,method,Q,Q_df,Q_pval
0,4ELL6L,F3yZRL,Trait2,Trait1,MR Egger,12.046276,6,0.060944
1,4ELL6L,F3yZRL,Trait2,Trait1,Inverse variance weighted,12.300627,7,0.091096

In [17]:
pair.mr["directionality"]

,id.exposure,id.outcome,exposure,outcome,snp_r2.exposure,snp_r2.outcome,correct_causal_direction,steiger_pval
0,4ELL6L,F3yZRL,Trait1,Trait2,0.005854,0.000541,True,1.188888e-32

In [18]:
pair.mr["singlesnp"]

,exposure,outcome,id.exposure,id.outcome,samplesize,SNP,b,se,p
0,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177835040:c:a,0.173913,0.323188,5.904966e-01
1,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177837375:c:t,0.751351,0.254054,3.101983e-03
2,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177890455:g:gt,0.653846,0.246154,7.901501e-03
3,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177894591:t:g,0.587692,0.156923,1.803233e-04
4,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177900098:t:c,0.634375,0.290625,2.905086e-02
5,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177936599:t:g,0.724138,0.324138,2.548027e-02
6,Trait1,Trait2,4ELL6L,F3yZRL,160000,2:527882:c:g,0.898113,0.330189,6.528192e-03
7,Trait1,Trait2,4ELL6L,F3yZRL,160000,2:632723:c:t,1.338571,0.214286,4.193046e-10
8,Trait1,Trait2,4ELL6L,F3yZRL,160000,All - Inverse variance weighted,0.741736,0.114307,8.641694e-11
9,Trait1,Trait2,4ELL6L,F3yZRL,160000,All - MR Egger,0.870499,0.381838,6.282040e-02

In [19]:
pair.mr["leaveoneout"]

,exposure,outcome,id.exposure,id.outcome,samplesize,SNP,b,se,p
0,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177835040:c:a,0.785256,0.109443,7.230143e-13
1,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177837375:c:t,0.740484,0.131249,1.682510e-08
2,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177890455:g:gt,0.754031,0.131037,8.699541e-09
3,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177894591:t:g,0.808372,0.139237,6.409059e-09
4,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177900098:t:c,0.752100,0.128499,4.828579e-09
5,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177936599:t:g,0.743077,0.128065,6.538770e-09
6,Trait1,Trait2,4ELL6L,F3yZRL,160000,2:527882:c:g,0.730291,0.126647,8.099976e-09
7,Trait1,Trait2,4ELL6L,F3yZRL,160000,2:632723:c:t,0.626416,0.094193,2.923887e-11
8,Trait1,Trait2,4ELL6L,F3yZRL,160000,All,0.741736,0.114307,8.641694e-11

In [20]:
pair.mr["leaveoneout"]

,exposure,outcome,id.exposure,id.outcome,samplesize,SNP,b,se,p
0,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177835040:c:a,0.785256,0.109443,7.230143e-13
1,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177837375:c:t,0.740484,0.131249,1.682510e-08
2,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177890455:g:gt,0.754031,0.131037,8.699541e-09
3,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177894591:t:g,0.808372,0.139237,6.409059e-09
4,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177900098:t:c,0.752100,0.128499,4.828579e-09
5,Trait1,Trait2,4ELL6L,F3yZRL,160000,1:177936599:t:g,0.743077,0.128065,6.538770e-09
6,Trait1,Trait2,4ELL6L,F3yZRL,160000,2:527882:c:g,0.730291,0.126647,8.099976e-09
7,Trait1,Trait2,4ELL6L,F3yZRL,160000,2:632723:c:t,0.626416,0.094193,2.923887e-11
8,Trait1,Trait2,4ELL6L,F3yZRL,160000,All,0.741736,0.114307,8.641694e-11

In [21]:
pair.mr["r_log"]

"TwoSampleMR version 0.5.8 \n[>] New: Option to use non-European LD reference panels for clumping etc\n[>] Some studies temporarily quarantined to verify effect allele\n[>] See news(package='TwoSampleMR') and https://gwas.mrcieu.ac.uk for further details\n\nHarmonising Trait1 (4ELL6L) and Trait2 (F3yZRL)\nAnalysing '4ELL6L' on 'F3yZRL'\nr.exposure and/or r.outcome not present.\nCalculating approximate SNP-exposure and/or SNP-outcome correlations, assuming all are quantitative traits. Please pre-calculate r.exposure and/or r.outcome using get_r_from_lor() for any binary traits\n\n"